@charset "UTF-8"

/*adds background image*/ 
body{ background-image: url(KimberlyRudolph.github.io/background.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

/*Styles main heading of "Kimberly Rudolph" at top of page*/
h1{ font-family: 'Palatino', serif;
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;}

/*Styles Navigation Links*/
#navigation { background-color: #294a34;
  height: 100px;
  margin-left: 12em;
  margin-right: 12em;
}
  
ul li a{
  font-family: 'Tahoma', sans-serif;
  color: #FFFFFF;
  list-style: none;
  display: inline-block;
  padding: 0 25px;
}
  
/*Styles "About Me" heading*/   
h2{ font-family: 'Tahoma', sans-serif;
  font size: 2rem;}

/*Styles "Hobbies" and "Links" headings*/
h3{ font-family: 'Tahoma', sans-serif;}

/*Styles paragraph and list item text*/
p, li{ font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;}

/*Green regtangle on which h1 appears*/
#header{ background-color: #599c78;
  height: 100px;
  margin-left: 12em;
  margin-right: 12em;}

/*Light green background on which all text following h1 appears*/
#container{ background-color: #F0FFF0;
  padding: 1em;
  margin-left: 12em;
  margin-right: 12em;}

/*Floats images/text wrapping*/
img{ float: right;
  margin: 1em;
  max-width: 100%;
  height: auto;
  
}
