@charset "UTF-8"

/*adds background image*/ 
body{ 
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

/*Green regtangle on which h1 appears*/
.header{ 
  background-color: #599c78;
  height: 100px;
  margin-left: 12em;
  margin-right: 12em;
}

/*Styles main heading of "Kimberly Rudolph" at top of page*/
h1{ 
  font-family: 'Palatino', serif;
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  }

/*Styles Navigation Links*/
.navigation { 
  background-color: #294a34;
  height: 50px;
  margin-left: 12em;
  margin-right: 12em;
} 
  
.navigation a{
  font-family: 'Tahoma', sans-serif;
  text-align: center;
  margin: 1em;  
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle; 
  text-transform: uppercase;

}

a{
	color: white;
}

a:hover{
  color: gray;
}
 
/*Light green background on which all text following h1 appears*/
.container{ 
  background-color: #F0FFF0;
  padding: 1em;
  margin-left: 12em;
  margin-right: 12em;
}

/*Styles "About Me" heading*/   
h2{ 
  font-family: 'Tahoma', sans-serif;
  font-size: 2rem;
}

/*Styles "Hobbies" and "Links" headings*/
h3{ 
  font-family: 'Tahoma', sans-serif;
}

/*Styles paragraph text*/
p { 
  font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;
}

.external_links a{
  color: #000000;
  font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;
  text-decoration: none;
}

/*Floats images/text wrapping*/
img{ 
  float: right;
  margin: 1em;
  max-width: 100%;
  height: auto;  
}

.contact_form { 
   margin-left:auto;
   margin-right:auto;
   width:100px;
}

.contact_form input{
	font-family: 'Tahoma', sans-serif;
	line-height: 3;
	width: 300px;
}

.contact_form textarea{
	font-family: 'Tahoma', sans-serif;
	height: 200px;
	width: 300px;
}

.contact_form input[type=submit]{
	background-color: #294a34;
	font-family: 'Tahoma', sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: white;
}

.t1supplies li{
  color: #000000;
  font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;
  text-decoration: none;
} 

.t1table{
  padding: 5px;
}

