@charset "UTF-8"

/*adds background image*/ 
body{ 
  background-image: url(KimberlyRudolph.github.io/background.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

/*Green regtangle on which h1 appears*/
.header{ 
  background-color: #599c78;
  height: 100px;
  margin-left: 12em;
  margin-right: 12em;
}

/*Styles main heading of "Kimberly Rudolph" at top of page*/
h1{ 
  font-family: 'Palatino', serif;
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;}

/*Styles Navigation Links*/
.navigation { 
  background-color: #294a34;
  height: 50px;
  margin-left: 12em;
  margin-right: 12em;
} 
  
.navigation a{
	font-family: 'Tahoma', sans-serif;
  float: left;
	color: #FFFFFF
	text-align: center;
	padding: 0 25px;
  list-style: none;
	text-decoration: none;
  display: inline-block;
	font-size: 17px;
}

.navigation a:hover{
	background-color: #ddd;
	color: black;
}

.navigation a.active{
	background-color: #4CAF50;
	color: white;
}
 
/*Light green background on which all text following h1 appears*/
.container{ 
  background-color: #F0FFF0;
  padding: 1em;
  margin-left: 12em;
  margin-right: 12em;
}

/*Styles "About Me" heading*/   
h2{ 
  font-family: 'Tahoma', sans-serif;
  font size: 2rem;
}

/*Styles "Hobbies" and "Links" headings*/
h3{ 
  font-family: 'Tahoma', sans-serif;
}

/*Styles paragraph and list item text*/
p { 
  font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;
}

li {
  font-family: 'Tahoma', sans-serif;
  text-align: justify;
  line-height: 2;
}

/*Floats images/text wrapping*/
img{ 
  float: right;
  margin: 1em;
  max-width: 100%;
  height: auto;  
}
